

<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>

  <% if current_user %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |

    <%= button_to "Destroy this post", @post, method: :delete %>

    <%= button_to 'sign out',destroy_user_session_path, method: :delete %>
  <% end %>

</div>
